.Center_Position_Text{
  margin-top: 175px;
}

.Center_Text {
    text-align: center;
    position: relative;
    top: 50%;
    margin-top: -112px;
}

.Main_Text {
    font-size: 64px;
    font-family: 'Roboto';
    font-weight: 900;
    color: white;
    margin-bottom: 20px;
    line-height: 1.2;
    letter-spacing: 6.4px;
}

.Sub_Text {
    font-size: 48px;
    font-family: 'Roboto';
    font-weight: lighter;
    color: #ffffff;
    line-height: 1.5;
}