.Center_Position_Text {
    width: 30vw;
    height: 20vh;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -10vh;
    margin-left: -15vw; 
}

.Center_Text {
    text-align: center;
    position: relative;
    top: 50%;
    margin-top: -3em;
}

.Main_Text {
    font-size: 2.6em;
    font-family: 'Roboto';
    font-weight: 900;
    color: white;
    margin-bottom: 20px;
    line-height: 1.2;
    letter-spacing: 6.4px;
}

.Sub_Text {
    font-size: 1.9em;
    font-family: 'Roboto';
    font-weight: lighter;
    color: #ffffff;
    line-height: 1.5;
}

@media (min-width: 1960px) {
    .Center_Text {
        margin-top: -5em;
    }

    .Main_Text {
        font-size: 4em;

    } 
    
    .Sub_Text {
        font-size: 2.9em;
    }
}