.View_Main_Page {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}

#page1 {
    background-color: #FF0000;
}

#page2 {
    background-color: #00FF00;
}

#page3 {
    background-color: #0000FF;
}

#page4 {
    background-color: #FFFF00;
}

#page5 {
    background-color: #FF00FF;
}

#page6 .DownBtn {
    display: none; 
}