#create-survey-container {
  width: 100%;
  box-sizing: border-box;
}

#create-survey-header-section {
  width: 100%;
  height: 75px;
  background-color: #419cea;
}

#create-survey-body-section {
  width: 1200px;
  margin: 0 auto; 
}

#survey-card-section {
  width: 100%;
  padding-top: 50px;
}

#add-survey-question-btn-wrapper {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: dashed 2px #707070;
  box-sizing: border-box;
}
#add-survey-question-btn {
  width: 200px;
  height: 50px;
  background-color: #419cea;
  color: white;
  line-height: 50px;
  text-align: center;
}

#create-survey-btn-wrapper {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#create-survey-btn {
  width: 200px;
  height: 50px;
  background-color: #419cea;
  color: white;
  line-height: 50px;
  text-align: center;
}