.MypageDefaultLayout {
  font-family: 'Roboto';
}

.MypageDefaultLayout .Title {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  display: flex;
}

.MypageDefaultLayout .Title .TitleText {
  width: 188px;
  height: 100%;
  display: block;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
  line-height: 100px;
  text-align: left;
  color: #444444;
  margin-left: 48px;
}

.Add {
  width: 100%;
  height: 0;
  border: solid 0.5px #bebebe;
}